<div class="home dark-green">
  <div class="header">
    <img class="logo" src="./../../../assets/logo.png" alt="Spotify">
  </div>
  <div class="content">
    <p class="title">what are you looking for</p>

    <div class="input-container">
      <mat-icon class="input-icon">search</mat-icon>
      <input type="text" placeholder="users, artists, track or podcasts">
    </div>

    <div class="input-container">
      <mat-icon class="input-icon">category</mat-icon>
      <select name="select" placeholder="looking for a specific category?">
        <option value="0" selected>looking for a specific category?</option>
        <option value="1" >user</option>
        <option value="3">artist</option>
      </select>
    </div>

    <div class="input-container">
      <mat-icon class="input-icon">security</mat-icon>
      <input type="text" placeholder="token for access">
    </div>

    <button type="button" (click)="search()">search</button>

    <br>
    <br>
    <mat-progress-bar *ngIf="carregando"  mode="indeterminate"></mat-progress-bar>

  </div>

  <div class="info">
    <div class="info-how-work">
      <p class="title-info">how does it work</p>
      <p></p>
    </div>
    <span></span>
    <div class="info-token">
      <p class="title-info">how to get the spotify token</p>
    </div>
  </div>

</div>
