/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

*:focus {
  outline: none;
}

.dark-green{
  background-color: #262E20;
  color: #fff;
}

.medium-green{
  background-color: #4A7158;
  color: #fff;
}

.light-green{
  background-color: #72917D;
  color: #fff;
}

.dark-gray{
  background-color: #343533;
  color: #fff;
}

.white-gray{
  background-color: #fff;
  color: #343533;
}

.black{
  font-weight: 900;
}


